<launch>
    <node pkg="djiros" type="djiros_node" name="djiros" output="screen" launch-prefix="">
        <param name="log_level" type="string" value="info"/>
        <param name="serial_name" type="string" value="/dev/ttyUSB0"/>
        <param name="baud_rate" type="int" value="921600"/>
        <param name="app_id" type="int" value="1096493"/>
        <param name="enc_key" type="string" value="5f418d065b86b5005f2fd690c5debbe38b8ea7ba559ac445350780e81a09d3e0"/> 
        <param name="app_version" type="int" value="1"/>
        <param name="sensor_mode" type="bool" value="false"/>
        <param name="align_with_fmu" type="bool" value="false"/>
	</node>
</launch>
